{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}Votre cours{% endblock %}

{% block body %}
    <main class="container">
        <section id="detail height">
            <h2 class="my-5">{{ course.name }}</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profil">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#details">Détail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#comments">Commentaires &nbsp;
                        {% if course.comments %}
                            {% set commentCount=0 %}
                            {% for comment in course.comments %}
                                {% if not comment.isDisabled %}
                                    {% set commentCount=commentCount+1 %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <span class="badge badge-primary">{{ commentCount }} </span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#addComment">Ajouter un commentaire</a>
                </li>
            </ul>
            {# Profile #}
            <div id="myTabContent" class="tab-content my-4">
                <div class="tab-pane fade show active" id="profil">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ asset('img/sections/') ~ course.image }}" alt="{{ course.name }}">
                        </div>
                        <div class="col-md-7">
                            <h4>Description</h4>
                            <p>{{ course.smallDescription }}</p>
                            <h4>Informations</h4>
                            <p class="description">
                                prix: {{ course.price }}€<br>
                                Durée: {{ course.duration }} an{% if course.duration > 1 %}s{% endif %}<br>
                                Catégorie: {{ course.category.name }}<br>
                                Horaire: {{ course.schedule }}<br>
                                Niveau:&nbsp;
                                <button type="button" class="btn btn-outline-info" data-toggle="tooltip"
                                        data-placement="bottom" title="{{ course.level.prerequisite }}">
                                    {{ course.level.name }}
                                </button>
                                {% if app.user %}
                                {% set inscrit = false %}
                                {% for register in registers %}
                                    {% if app.user.id == register.user.id %}
                                        {% set inscrit = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if not inscrit %}
                                    <br><br>
                                    <a href="{{ path('register_course', {'id' : course.id}) }}" class="btn btn-warning"
                                       title="Afficher">S'inscrire à ce cours</a>
                                {% else %}
                                    <br><br>
                                <button type="button" class="btn btn-outline-warning" data-toggle="tooltip"
                                        data-placement="bottom" >
                                    Vous êtes déjà inscrit
                                </button>
                                {% endif %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {# Détails #}
                <div class="tab-pane fade" id="details">
                    <h4>Description complète</h4>
                    <p class="img-float">{{ course.fullDescription | raw }}</p>
                    <p><a href="{{ asset('img/pdf/') ~ course.program }}" class="btn btn-primary">Télécharger le
                            programme</a></p>
                </div>
                {# Comments #}
                <div class="tab-pane fade" id="comments">
                    {% if course.comments %}
                        {% for comment in course.comments %}
                            {% if not comment.isDisabled %}
                                {# <p>{{ comment.content }} {{ comment.createdAt|date('d/m/Y') }}</p> #}
                                <div class="media media-border">
                                    <img src="{{ asset('img/avatar/') ~ comment.author.image }}"
                                         class="mr-3 align-self-center avatar-comments"
                                         alt="{{ comment.author.lastname }}">
                                    <div class="media-body">
                                        <h5 class="mt-0">{{ comment.author.firstname }} {{ comment.author.lastname }}
                                            {% if comment.warning %}
                                                <span class="badge badge-primary">Ce commentaire a été warn</span>
                                            {% endif %}
                                            {% if comment.author == app.user %}
                                                <a href="{{ path('comment_edit_course', {"id" : comment.id}) }}"
                                                   class="btn btn-outline-danger float-right"
                                                   title="Modifier"><i class="icofont-edit-alt"></i></a>
                                            {% endif %}
                                            <br>
                                            <small class="text-muted">Ajouté
                                                le {{ comment.createdAt|date('d/m/Y') }}</small></h5>
                                        {# Système de notation en étoile #}
                                        <span>
                                        {# Inclusion du partial avec passage de paramètre #}
                                            {% include 'partials/rating.html.twig' with {'rating' : comment.rating} %}
                                    </span>
                                        <p>
                                            {{ comment.content }}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if course.comments.count == 0 %}
                            <p>Ce cours n'a pas de commentaire</p>
                        {% endif %}
                    {% endif %}
                </div>
                {# Post Comments #}
                <div class="tab-pane fade" id="addComment">
                    {% if app.user %}
                        {% set hasComment = false %}
                        {% for comment in course.comments %}
                            {% if comment.author.id == app.user.id %}
                                {% set hasComment = true %}
                            {% endif %}
                        {% endfor %}
                        {% if hasComment %}
                            <div class="alert alert-info">
                                Vous avez déjà soumis un commentaire.
                            </div>
                        {% else %}
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-outline-secondary">Valider votre commentaire</button>
                            {{ form_end(form) }}
                        {% endif %}
                    {% else %}
                        <a href="{{ path('app_login') }}">Connectez-vous</a> pour poster un commentaire
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

