{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Modification d'un commentaire{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="my-3 col-md-8 offset-md-1">
                <h2 class="m-4">Modification du commentaire sur : {{ comment.course.name }}</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-primary">Modification de la formation</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}