{% extends 'base.html.twig' %}

{% block title %}Connection!{% endblock %}

{% block body %}
    <form method="post" class="my-4">
        <main class="container">
            <section class="row">
                <div class="col-md-6 offset-3">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="alert alert-warning">
                            Vous êtes déjà connecté en tant que {{ app.user.username }}, <a
                                    href="{{ path('app_logout') }}">Se
                                déconnecter</a>
                        </div>
                    {% endif %}

                    <h2 class="h3 mb-3 font-weight-normal">Connection</h2>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control"
                               required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="btn btn-primary" type="submit">
                        Se connecter
                    </button>
                </div>
            </section>
        </main>
    </form>


    {#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
    #}
{% endblock %}
