{% extends 'base.html.twig' %}

{% block title %}S'enregistrer!{% endblock %}

{% block body %}
    <form method="post" class="my-4">
        <main class="container">
            <section class="row">
                <div class="col-md-6 offset-3">
                    {% if app.user %}
                        <div class="alert alert-warning">
                            Vous êtes déjà connecté en tant que {{ app.user.username }}, <a
                                    href="{{ path('app_logout') }}">Se
                                déconnecter</a>
                        </div>
                    {% else %}
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <br>
                    <button class="btn btn-primary" type="submit">
                        S'inscrire
                    </button>
                        {{ form_end(form) }}
                    {% endif %}
                </div>
            </section>
        </main>
    </form>


    {#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
    #}
{% endblock %}
