{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Home{% endblock %}

{% block body %}
    <!-- Slider -->
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('img/slider/slider01.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/slider/slider02.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/slider/slider03.jpg') }}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Latest courses -->
    <main class="container">
        <section>
            <h2 class="my-5">Nos dernières formations</h2>
            <div class="row">
                {% for course in courses %}
                    <div class="col-md-4">
                        <div class="card">
                            <img alt="{{ course.name }}" src="{{ asset('img/sections/') ~ course.image }}"
                                 style="height: 200px; width: 100%">
                            <div class="card-body">
                                <h5 class="card-title">{{ course.name }}</h5>
                                <p class="card-text">{{ course.smallDescription }}</p>
                                <a href="{{ path('course', {'slug': course.slug}) }}" class="btn btn-primary">Voir
                                    plus...</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!-- End Latest courses -->

        <!-- Latest news -->
        <div class="section">
            <h2 class="my-5">Nos dernières actualités</h2>
            <div class="row">
                {% for new in news %}
                    <div class="col-md-6">
                        <div class="media my-3 shadow-sm p-3 mb-5 bg-white rounded">
                            <img class="float-left mr-3" src="{{ asset('img/news/') ~ new.image }}" style=" width: 15%" alt="{{ new.id }}">
                            <div class="media-body">
                                <h5 class="mt-0">{{ new.name }} - {{ new.createdAt|date('d/m/Y') }}</h5>
                                <p>{{ new.content| raw }}</p>
                                <button type="button" class="btn btn-outline-info" data-toggle="modal"
                                        data-target="#modal{{ new.id }}">
                                    Détails
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="modal fade" id="modal{{ new.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ new.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5 class="mt-0">{{ new.createdAt|date('d/m/Y') }}</h5>
                                    <img class="float-left mr-3" src="{{ asset('img/news/') ~ new.image }}" style="width: 25%" alt="{{ new.id }}">
                                    <p>{{ new.content| raw }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- End Latest news -->

        <!-- Cool Links -->
        <section>
            <h2 class="my-5">Informations importantes</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-shadow text-dark mb-3">
                        <div class="card-header text-center text-primary">HORAIRES</div>
                        <div class="card-body">
                            <h4 class="card-title">Horaires de 2020-2021</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card border-shadow text-dark mb-3">
                        <div class="card-header text-center text-primary">INFORMATIONS</div>
                        <div class="card-body">
                            <h4 class="card-title">Scéance d'informations</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card border-shadow text-dark mb-3">
                        <div class="card-header text-center text-primary">INSCRIPTION</div>
                        <div class="card-body">
                            <h4 class="card-title">Documents d'inscription</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Cool Links -->
    </main>

{% endblock %}
