{% extends 'admin/base.html.twig' %}
{% block title %}{{ parent() }}Nouvel utilisateur {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="my-3 col-md-8 offset-md-1">
                <h1 class="m-4">Ajouter un utilisateur</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-primary">Ajout de l'utilisateur</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}