{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Cours{% endblock %}

{% block body %}
    <h2 class="my-4">Gestion des Cours</h2>
    <table class="table table-hover" id="myTable"> <!-- id pour le DataTable id="myTable" -->
        <thead>
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Level</th>
            <th>Durée</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td><img src="{{ asset('img/sections/') ~course.image }}" alt="{{ course.id }}"
                         class="admin-img"></td>
                <td>{{ course.name }}</td>
                <td>{{ course.category.name }}</td>
                <td>{{ course.level.name }}</td>
                <td>{{ course.duration }} h</td>
                <td>{{ course.price }} &euro;</td>
                <td>
                    {% if course.isPublished %}
                        <a href="{{ path('admin_course_view', {"id" : course.id}) }}" class="btn btn-success"
                           title="Afficher"><i class="icofont-eye"></i></a>
                    {% else %}
                        <a href="{{ path('admin_course_view', {"id" : course.id}) }}" class="btn btn-info"
                           title="Masquer"><i class="icofont-eye-blocked"></i></a>
                    {% endif %}
                    <a href="{{ path('admin_course_edit', {"id" : course.id}) }}" class="btn btn-danger"
                       title="Modifier"><i class="icofont-edit-alt"></i></a>
                    <a href="{{ path('admin_course_del', {"id" : course.id}) }}" class="btn btn-primary"
                       title="Supprimer"><i class="icofont-delete-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    </div>
    </div>
{% endblock %}