{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Comment{% endblock %}

{% block body %}

    <h2 class="my-4">Gestion des commentaires</h2>
    <table class="table table-hover" id="myTable"> <!-- id pour le DataTable id="myTable" -->
        <thead>
        <tr>
            <th>Image de l'auteur</th>
            <th>Nom de l'auteur</th>
            <th>Création du commentaire</th>
            <th>Cours</th>
            <th>Notation</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
                <tr>
                    <td><img src="{{ asset('img/avatar/') ~comment.author.image }}"
                             alt="{{ comment.author.lastname|upper }} {{ comment.author.firstname }}"
                             class="admin-img-user align-middle"></td>
                    <td class="align-middle">{{ comment.author.lastname|upper }} {{ comment.author.firstname }}</td>
                    <td class="align-middle">{{ comment.createdAt|date("d/m/Y") }}</td>
                    <td class="align-middle">{{ comment.course.name }}</td>
                    <td class="align-middle text-muted">
                        {# Inclusion du partial avec passage de paramètre #}
                        {% include 'partials/rating.html.twig' with {'rating' : comment.rating} %}
                    </td>
                    <td class="align-middle">
                        {% if not comment.isDisabled %}
                            <a href="{{ path('admin_comment_view',{id:comment.id}) }}" class="btn btn-success"
                               title="Actif"><i class="icofont-eye"></i></a>
                        {% else %}
                            <a href="{{ path('admin_comment_view',{id:comment.id}) }}" class="btn btn-info"
                               title="Inactif"><i class="icofont-eye-blocked"></i></a>
                        {% endif %}
                        {% if comment.warning %}
                            <a href="{{ path('admin_comment_warn',{id:comment.id}) }}" class="btn btn-danger" title="Warn Actif"><i class="icofont-warning"></i></a>
                        {% else %}
                            <a href="{{ path('admin_comment_warn',{id:comment.id}) }}" class="btn btn-danger" title="Aucun warn"><i class="icofont-check"></i></a>
                        {% endif %}
                        <a href="{{ path('admin_comment_del',{id:comment.id}) }}" class="btn btn-primary" title="Supprimer"><i class="icofont-delete-alt"></i></a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>
{% endblock %}