{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}News{% endblock %}

{% block body %}
    <h2 class="my-4">Gestion des Annonces</h2>
    <table class="table table-hover" id="myTable"> <!-- id pour le DataTable id="myTable" -->
        <thead>
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Contenu</th>
            <th>Création</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for new in news %}
            <tr>
                <td><img src="{{ asset('img/news/') ~new.image }}" alt="{{ new.id }}"
                         class="admin-img"></td>
                <td>{{ new.name }}</td>
                <td>
                    <button type="button" class="btn btn-outline-info" data-toggle="modal"
                            data-target="#modal{{ new.id }}">
                        Détails
                    </button>
                </td>
                <td>{{ new.createdAt|date("d/m/Y") }}</td>
                <td>
                    <a href="{{ path('admin_news_edit', {"id" : new.id}) }}" class="btn btn-danger"
                       title="Modifier"><i class="icofont-edit-alt"></i></a>
                    <a href="{{ path('admin_news_del', {"id" : new.id}) }}" class="btn btn-primary"
                       title="Supprimer"><i class="icofont-delete-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Modal -->
    {% for new in news %}
        <div class="modal fade" id="modal{{ new.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Contenu de {{ new.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ new.content| raw }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
    </div>
{% endblock %}