{% extends 'admin/base.html.twig' %}
{% block title %}Admin Registration{% endblock %}
{% block body %}
    <h2 class="my-4">Gestion des Enregistrements</h2>
    <table class="table table-hover" id="myTable">
        <thead>
        <tr>
            <th>id</th>
            <th>Utilisateur</th>
            <th>Cours</th>
            <th>Prix</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for registration in registrations %}
            <tr>
                <td>{{ registration.id }}</td>
                <td>{{ registration.user.firstname }} {{ registration.user.lastname }}</td>
                <td>{{ registration.course.name }}</td>
                <td>{{ registration.course.price }} €</td>
                <td>{{ registration.updatedAt|date("d/m/Y") }}</td>
                <td><a href="{{ path('admin_registration_course_del',{'id':registration.id}) }}" title="deleted"><i
                                class="icofont-ui-delete btn btn-outline-primary"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    </div>
    </div>
{% endblock %}