{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mon panier!{% endblock %}

{% block body %}
    <div style="margin:0 5%">
        <h2 class="my-4">Mon panier</h2>
        <table class="table table-hover" id="myTable"> <!-- id pour le DataTable id="myTable" -->
            <thead>
            <tr>
                <th>Cours</th>
                <th>Durée</th>
                <th>prix</th>
                <th>programmation</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for registration in registrations %}
                <tr>
                    <td class="align-middle">{{ registration.course.name }}</td>
                    <td class="align-middle">{{ registration.course.duration }}</td>
                    <td class="align-middle">{{ registration.course.price }} &euro;</td>
                    <td class="align-middle">{{ registration.course.schedule }}</td>

                    <td class="align-middle">
                        <a href="{{ path('cart_del', {'id':registration.id}) }}" class="btn btn-outline-primary icofont-2x"
                           title="Supprimer"><i class="icofont-delete-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        {# <div class="navigation d-flex justify-content-center"> #}
        {# {{ knp_pagination_render(users) }} #}
        {# </div> #}
    </div>
    </div>
    </div>
    </div>
{% endblock %}