{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Votre Profil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#comments" data-toggle="tab" class="nav-link">Commentaires
                                {%  set warningCount = 0 %}
                                {% for comment in comments %}
                                    {% if comment.warning %}
                                    {% set warningCount = warningCount +1 %}
                                    {% endif %}
                                {% endfor %}
                            {% if warningCount %}
                            <span class="badge badge-primary" title="warning actifs">
                                {{ warningCount }}
                            </span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Modification de compte</a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <h4 class="mb-3">Profil d'utilisateur</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Nom:</h5>
                                <p>
                                    {{ app.user.firstname }} {{ app.user.lastname }}
                                </p>
                                <h6>Email</h6>
                                <p>
                                    {{ app.user.email }}
                                </p>
                                <h6>Date de création du compte</h6>
                                <p>
                                    {{ app.user.createdAt|date("d/m/Y") }}
                                </p>
                                <h6>Rôle</h6>
                                <button type="button" class="btn btn-outline-primary" data-toggle="tooltip"
                                        data-placement="bottom" title="{{ app.user.roles|json_encode }}">
                                    {% if app.user.roles|json_encode == '["ROLE_ADMIN"]' %} Administrateur
                                    {% elseif app.user.roles|json_encode == '["ROLE_SUPER_ADMIN"]' %} Super-Administrateur
                                    {% else %} Utilisateur
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="comments">
                        {% if comments|length == 0 %}
                            <div class="alert alert-info">
                                Vous n'avez aucun commentaire
                            </div>
                        {% else %}
                        {% for comment in comments %}
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Commentaire sur <span
                                                class="text-muted">{{ comment.course.name }}</span>
                                        <a href="{{ path('comment_edit_profile', {"id" : comment.id}) }}" class="btn btn-outline-danger float-right"
                                           title="Modifier"><i class="icofont-edit-alt"></i></a>
                                    </h4>
                                    {% if comment.isDisabled or comment.warning %}
                                        <h5 class="text-muted">
                                            Statut:
                                            {% if comment.isDisabled and not comment.warning %}
                                                <span class="text-primary">Ce commentaire a été désactivé</span>
                                            {% elseif comment.warning and not comment.isDisabled %}
                                                <span class="text-primary">Ce commentaire a un warn actif</span>
                                            {% else %}
                                                <span class="text-primary">Ce commentaire a été désactivé et à warn actif</span>
                                            {% endif %}
                                        </h5><br>
                                    {% endif %}
                                    <h5 class="card-subtitle mb-2">Note:
                                        <span class="text-muted">
                                            {# Inclusion du partial avec passage de paramètre #}
                                            {% include 'partials/rating.html.twig' with {'rating' : comment.rating} %}
                                        </span>
                                    </h5>
                                    <h6 class="card-subtitle mb-2">date: <span
                                                class="text-muted">{{ comment.createdAt|date('d/m/Y') }}</span></h6>
                                    <p class="card-text">{{ comment.content }}</p>
                                    <a href="{{ path('course', {'slug': comment.course.slug}) }}" class="card-link">Voir
                                        l'article</a>
                                </div>
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="tab-pane" id="edit">
                        <div class="mb-2">
                            <h4>Modifier le profil</h4>
                            {{ form_start(formProfile) }}
                            {{ form_widget(formProfile) }}
                            <button type="submit" class="btn btn-outline-primary">Modifier profil</button>
                            {{ form_end(formProfile) }}
                        </div>
                        <h4>Modifier le mot de passe</h4>
                        {{ form_start(formPassword) }}
                        {{ form_widget(formPassword) }}
                        <button type="submit" class="btn btn-outline-primary">Modifier le mot de passe</button>
                        {{ form_end(formPassword) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="{{ asset('img/avatar/') ~ app.user.image }}" class="mx-auto img-fluid img-circle d-block"
                     alt="avatar">
            </div>
        </div>
    </div>
{% endblock %}
